<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- A nice-looking defaults stylesheet for simple html pages.  Optional.  -->
  <link rel="stylesheet" href="https://unpkg.com/mvp.css" />

  <!-- and/or link to your own css -->
  <link href="/style.css" rel="stylesheet" />

  <link rel="icon" href="/favicon.png" type="image/x-icon" />

  <title><%= title %></title>
</head>

<body>
  <p>Nav bar might go here</p>

  <p>This content comes from the partial <code>/views/partials/header.ejs</code></p>

  <h1><%= title %></h1>