<%- include("../partials/header.ejs", {title: "Main Page"}) %>


<p>This content comes from <code>/views/pages/index.ejs</code></p>

<section>
  <p><a href="/db-test">Clicking this link will test to see if your db connection is ok</a></p>

  <p>Delete all this text and make these pages your own!</p>
</section>

<%- include("../partials/footer.ejs") %>